
@font-face {
  font-family: 'BigShoulders-Light';
  src: local('BigShoulders'), url(./fonts/BigShoulders/BigShoulders_24pt-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'BigShoulders-SemiBold';
  src: local('BigShoulders'), url(./fonts/BigShoulders/BigShoulders_36pt-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway'), url(./fonts/Raleway/Raleway-SemiBold.ttf) format('truetype');
}

.App{
  background-color: #242424;
  min-height: 100vh;
}

.MuiAppBar-root{
  background-color: #373737 !important;
}